*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
	color: white;
	background-color: #16191d;
	display: flex;
	justify-content: center;
	height: 100%;
}

.container{
	min-width: 600px;
	min-height: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);*/
}


/* \\\LOGO/// */

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 20px 10px;
}

.logo img{
	border-radius: 50%;
	border: 5px solid white;
}


/* \\\ITEMS/// */

.items{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
	backdrop-filter: blur(5px);
	padding: 5px;
}

.item input{
	width: 100%;
	border: none;
	padding: 5px;
	margin-left: 5px;
	background-color: transparent;
	color: white;
}

/* info */
#info:checked + label,
#info:checked + label > iframe{
	height: 100px;
}

.info{
	flex-direction: column;
	position: relative;
}

.info p{
	width: 100%;
	position: relative;
}

.info p:after{
	content: "";
	position: absolute;
    right: 5px;
    top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    display: inline-block;
    border: 7px solid transparent;
    border-top:8px solid white;
    border-bottom:0 none;
    cursor: pointer;
}

.info input{
	opacity: 0;
	width: 14px;
	cursor: pointer;
	position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;
    margin-top: 14px;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.info label{
	height: 0;
	width: 100%;
	transition: 1s;
}

.info label iframe{
	width: 100%;
	height: 0;
	transition: 1s;
}


/* \\\ATTACK BUTTON/// */

.button{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.button button{
	font-size: 15px;
	border: none;
	background-color: transparent;
	padding: 10px 20px 10px 20px;
	color: white;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border: 1px solid white;
	backdrop-filter: blur(5px);
}

.button button:hover{
	cursor: pointer;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
}

.button button:active{
	transform: scale(.96);
}


@media only screen and (max-width: 605px) {
  	.container{
		min-width: 300px;
	}

	.item{
		padding: 5px 0 5px 0;
	}
}
